@{
	var db = Database.Open("Klantgegevens");
	var gegevens = db.Query("SELECT * from klantgegevens");
}
<!DOCTYPE html>
<html>
<head>
    <style>
    table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    }

    th {
    cursor: pointer;
    }

    th, td {
    text-align: center;
    padding: 16px;
    }

    tr:nth-child(even) {
    background-color: #FFFFFF
    }
    </style>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/stylesheet.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Menger | Klanten</title>
    <link rel="shortcut icon" href="~/img/Menger-Favicon.png" title="Favicon">
</head>

<body class="grey lighten-2">
    <!-- Navbar -->
    <nav class="nav-center">
        <div class="nav-wrapper grey darken-4">

            <!-- logo -->
            <img class="col l1 offset-l10 m8 offset-m2 s12 brand-logo" src="~/img/logo.png" />

            <!-- Mobile responsive menu -->
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <!-- Dropdown Trigger -->
            <a style="margin-right: 10px" class='dropdown-button right' data-beloworigin="true" alignment="left" href='#' data-activates='dropdown'><i class="material-icons">more_vert</i></a>

            <!-- Dropdown -->
            <ul id='dropdown' class='dropdown-content'>
                <li><a href="~/Application/settings.cshtml" style="font-size: 14px;">Instellingen<i class="tiny material-icons">settings</i></a></li>
                <li><a href="~/Application/logout.cshtml" style="font-size: 14px;">Uitloggen<i class="tiny material-icons">power_settings_new</i></a></li>
            </ul>

            <a style="margin-right: 30px; font-size: small;" class="right">Hallo, @WebSecurity.CurrentUserName !</a>

            <ul class="hide-on-med-and-down">
                <li><a href="~/Application/home.cshtml">Agenda</a></li>
                <li><a href="~/Application/customers.cshtml">Klanten</a></li> <!--Verwijzing naar klantenpagina-->
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="~/Application/home.cshtml">Agenda</a></li>
                <li><a href="~/Application/customers.cshtml">Klanten</a></li> <!--Verwijzing naar klantenpagina-->
            </ul>
        </div>
    </nav>


    <div class="row" style="margin-bottom: 0px;">
        <div class="col s8 m8 l8">
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">control_point</i>Toevoegen</a>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">edit</i>Wijzigen</a>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">delete</i>Verwijderen</a>
        </div>
        <form>
            <div class="col s4 input-field right" style="width:300px;margin: 80px 10px 10px;">
                <label class="label-icon" for="search"><i class="material-icons right" style="z-index:-1;margin-left: 250px;">search</i></label>
                <input id="search" type="search" style="margin-bottom: 0px;" required>
            </div>
        </form>
    </div>



    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Klanten</span>
                    <table class="centered highlight responsive-table">
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Voornaam</th>
                                    <th onclick="sortTable(0)">Achternaam</th>
                                    <th onclick="sortTable(0)">Adres</th>
                                    <th onclick="sortTable(0)">Postcode</th>
                                    <th onclick="sortTable(1)">Woonplaats</th>
                                    <th onclick="sortTable(0)">Telefoonnummer</th>
                                    <th onclick="sortTable(0)">Emailadres</th>
                                    <th onclick="sortTable(0)">Bijzonderheden</th>
                                </tr>
                            </thead>
                            @foreach (var item in gegevens)
        {
                    <tbody>
                        <tr>
                            <td>@item.Voornaam</td>
                            <td>@item.Achternaam</td>
                            <td>@item.Adres</td>
                            <td>@item.Postcode</td>
                            <td>@item.Woonplaats</td>
                            <td>@item.Telefoonnummer</td>
                            <td>@item.Emailadres</td>
                            <td>@item.Bijzonderheden</td>
                        </tr>
                    </tbody>
}
                            </table>
                        </table>
                        <!--Script for Table sorting headings-->

                        <script>
                            function sortTable(n) {
                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                table = document.getElementById("myTable");
                                switching = true;
                                //Set the sorting direction to ascending:
                                dir = "asc";
                                /*Make a loop that will continue until
                                no switching has been done:*/
                                while (switching) {
                                    //start by saying: no switching is done:
                                    switching = false;
                                    rows = table.getElementsByTagName("TR");
                                    /*Loop through all table rows (except the
                                    first, which contains table headers):*/
                                    for (i = 1; i < (rows.length - 1); i++) {
                                        //start by saying there should be no switching:
                                        shouldSwitch = false;
                                        /*Get the two elements you want to compare,
                                        one from current row and one from the next:*/
                                        x = rows[i].getElementsByTagName("TD")[n];
                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                        /*check if the two rows should switch place,
                                        based on the direction, asc or desc:*/
                                        if (dir == "asc") {
                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                //if so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        } else if (dir == "desc") {
                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                //if so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        }
                                    }
                                    if (shouldSwitch) {
                                        /*If a switch has been marked, make the switch
                                        and mark that a switch has been done:*/
                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                        switching = true;
                                        //Each time a switch is done, increase this count by 1:
                                        switchcount++;
                                    } else {
                                        /*If no switching has been done AND the direction is "asc",
                                        set the direction to "desc" and run the while loop again.*/
                                        if (switchcount == 0 && dir == "asc") {
                                            dir = "desc";
                                            switching = true;
                                        }
                                    }
                                }
                            }
                        </script>
                </div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>

    


</body>
</html>