@{
    Layout = "~/Shared/_Layout.cshtml";
    var db = Database.Open("klantgegevens");
    double count = 0;
    int per = 5;

    var date = "";

    if (date.IsEmpty())
    {
        date = DateTime.Now.ToString("dd-MM-yyyy");
    }

    else if (!(date.IsEmpty()))
    {
        date = Request.Form["date"];
    }

    if (IsPost)
    {
        date = Request.Form["date"];
    }

    var query = "SELECT * from Rittenkaart WHERE Datum = @0";
    var gegevens = db.Query(query, date);
}

<div class="row" style="margin-bottom: 0px;">
    <div class="col s8 m8 l8">
        <a href="~/Application/rittentoevoegen.cshtml" class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">control_point</i>Toevoegen</a>
        <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">edit</i>Wijzigen</a>
        <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">cancel</i>Annuleren</a>
        <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">delete</i>Verwijderen</a>
    </div>
    <form>
        <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 64px 0px;"><i class="material-icons right">file_download</i>Exporteren</a>
        <div class="col s4 input-field right" style="width:300px;margin: 80px 10px 10px;">
            <label class="label-icon" for="search"><i class="material-icons right" style="z-index:-1;margin-left: 250px; color:black;">search</i></label>
            <input id="search" type="search" onkeyup="searchTable()" style="margin-bottom: 0px;" required>
        </div>
    </form>
</div>


<div class="row">
    <div class="col s12">
        <div class="card white">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s12">
                        <span class="card-title col s1 inline">Klanten</span>
                        <div style="position:absolute; right: 100px; top: 0px;" class="input-field inline">
                            <span style="position:absolute; right: 170px; top: 12px; font-size: 18px;">Datum:</span>
                            <form method="post">
                                <input name="date" type="text" class="Pointer datepicker" data-value="@date">
                                <button class="btn right taximengeryellow" style="position:absolute; right: -50px; top: 5px; padding: 0px 10px" runat="server" type="submit" name="action" id="form">  <i class="material-icons">done</i></button>
                            </form>
                        </div>
                    </div>
                    <table class="centered highlight responsive-table" id="Table">
                        <thead>
                            <tr>
                                <th class="Pointer" onclick="sortTable(0)">Datum</th>
                                <th class="Pointer" onclick="sortTable(1)">Tijd</th>
                                <th class="Pointer" onclick="sortTable(2)">Ophaaladres</th>
                                <th class="Pointer" onclick="sortTable(3)">Bestemmingsadres</th>
                                <th class="Pointer" onclick="sortTable(4)">Klant</th>
                                <th class="Pointer" onclick="sortTable(5)">Personen</th>
                                <th class="Pointer" onclick="sortTable(6)">Soort Wagen</th>
                                <th class="Pointer" onclick="sortTable(7)">Kenteken</th>
                                <th class="Pointer" onclick="sortTable(8)">Chauffeur</th>
                            </tr>
                        </thead>
                        @foreach (var item in gegevens)
                        {

                    <tbody>
                        <tr>
                            <td>@item.Datum</td>
                            <td>@item.Tijd</td>
                            <td>@item.Ophaaladres</td>
                            <td>@item.Bestemmingsadres</td>
                            <td>@item.Klant</td>
                            <td>@item.Personen</td>
                            <td>@item.SW</td>
                            <td>@item.Kenteken</td>
                            <td>@item.Chauffeur</td>
                        </tr>
                    </tbody>
}
                    </table>
                    <ul class="pagination">
                        @for (int i = 0; i < (count / per); i++)
                        {
                            <li id="page@(i)" class="waves-effect"><a onclick="pages(@i)">@(i + 1)</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        clean();
        table = document.getElementById("Table");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        pages(0);
    }
</script>

<script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("Table");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
        if (filter == "") {
            pages(0);
        }
    }
</script>

<script>
    function pages(page) {
        var table, tr, i, j, per = 5;
        table = document.getElementById("Table");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {

            if (i >= (page * per + 1) && i <= (page * per + 5)) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }

        for (j = 0; j < (tr.length / 5 - 1); j++) {
            document.getElementById('page' + j).setAttribute("class", "waves-effect");
        }

        document.getElementById('page' + page).setAttribute("class", "active");
    }
</script>

<script>
    function clean() {
        var table, tr, i, j;
        table = document.getElementById("Table");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
</script>

<script type="text/javascript">
    pages(0);
</script>
