@{
    Layout = "~/Shared/_Layout.cshtml";
    var db = Database.Open("klantgegevens");
    var gegevens = db.Query("SELECT * from Rittenkaart");
}

    <div class="row" style="margin-bottom: 0px;">
        <div class="col s8 m8 l8">
			<a href="~/Application/rittentoevoegen.cshtml" class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">control_point</i>Toevoegen</a>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">edit</i>Wijzigen</a>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">cancel</i>Annuleren</a>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 10px 0px;"><i class="material-icons right">delete</i>Verwijderen</a>
        </div>
        <form>
            <a class="waves-effect waves-light btn taximengeryellow left" style="margin: 80px 64px 0px;"><i class="material-icons right">file_download</i>Exporteren</a>
            <div class="col s4 input-field right" style="width:300px;margin: 80px 10px 10px;">
                <label class="label-icon" for="search"><i class="material-icons right" style="z-index:-1;margin-left: 250px;">search</i></label>
                <input id="search" type="search" style="margin-bottom: 0px;" required>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Klanten</span>
                    <table class="centered highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Tijd</th>
                                <th>Ophaaladres</th>
                                <th>Bestemmingsadres</th>
                                <th>Klant</th>
                                <th>#</th>
                                <th>SW</th>
                                <th>Kenteken</th>
                                <th>Chauffeur</th>
                            </tr>
                        </thead>
                        @foreach (var item in gegevens)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Tijd</td>
                                    <td>@item.Ophaaladres</td>
                                    <td>@item.Bestemmingsadres</td>
                                    <td>@item.Klant</td>
                                    <td>@item.Personen</td>
                                    <td>@item.SW</td>
                                    <td>@item.Kenteken</td>
                                    <td>@item.Chauffeur</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>