@{ 
	Database db = Database.Open("Klantgegevens");
	Layout = "~/Shared/_Layout.cshtml";


	<!--Wachtwoord wijzigen-->
	var userName = WebSecurity.CurrentUserName;
	var CurrentPassword = "";
	var newPassword = "";
	var newPassword2 = "";
	var errormessage = "";
	var succesmessage = "";


	<!-- Chauffeur Aanmaken -->
	var Chauffeur = "";
	var Telefoonnummer = "";

	<!-- Chauffeur Verwijderen-->
	var chauffeurID = "";
	var Chauffeurs = db.Query("SELECT ChauffeurID,Chauffeur FROM Chauffeur");

	if (IsPost && Request.Form["form1"] == "true")
	{

	}

	<!--Wachtwoord wijzigen form-->
	if (IsPost && Request.Form["form2"] == "true")
	{
		if (IsPost && Validation.IsValid())
		{
			CurrentPassword = Request.Form["CurrentPassword"];
			newPassword = Request.Form["newPassword"];
			newPassword2 = Request.Form["newPassword2"];

			if (newPassword == newPassword2)
			{
				bool gelukt;
				gelukt = WebSecurity.ChangePassword(userName, CurrentPassword, newPassword);
				if (gelukt == true)
				{
					succesmessage = "Het wachtwoord voor " + WebSecurity.CurrentUserName + " is aangepast.";
				}
				else
				{
					errormessage = "Het oude wachtwoord is incorrect.";
				}
			}
			else
			{
				errormessage = "De wachtwoorden komen niet overeen.";
			}
		}
	}

	<!--Chauffeur aanmaken form-->
	if (IsPost && Request.Form["form3"] == "true")
	{
		var id = Convert.ToString(db.QueryValue("SELECT Max(ChauffeurID) from Chauffeur") + 1);

		Chauffeur = Request.Form["Chauffeur"];
		Telefoonnummer = Request.Form["Telefoonnummer"];

		var query1 = "INSERT INTO Chauffeur (ChauffeurID,Chauffeur,Telefoonnummer) VALUES (@0,@1,@2)";
		db.Execute(query1, id, Chauffeur, Telefoonnummer);

		Response.Redirect("~/Application/settings.cshtml");

	}

	<!--Chauffeur verwijderen form-->
	if (IsPost && Request.Form["form4"] == "true")
	{
		{
			chauffeurID = Request.Form["chauffeurID"];

			var query = "DELETE FROM Chauffeur WHERE ChauffeurID = @0";
			db.Execute(query, chauffeurID);

			Response.Redirect("~/Application/settings.cshtml");
		}
	}

	if (IsPost && Request.Form["form5"] == "true")
	{

	}
}


<div class="row">
	<div class="col s3">
		<!-- Gebruiker aanmaken / verwijderen -->
		<div class="row">
			<div class="col s12">
				<div class="card-panel grey darken-4">
					<div class="card-content ">
						<div class="row white-text">
							<form class="col s12" method="post" name="form1">
								<button class="btn right taximengeryellow" type="submit" name="form1" value="true">Bevestig</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col s3">
		<!-- Wachtwoord aanpassen -->
		<div class="row">
			<div class="col s12">
				<div class="card-panel grey darken-4">
					<div class="card-content ">
						<div class="row white-text">
							<form class="col s12" method="post" name="form2">
								<span style="font-size: 16px;" class="card-title">Wachtwoord aanpassen</span>


								<div class="input-field col s12">
									<input id="CurrentPassword" type="password" name="CurrentPassword" value="@Request.Form["CurrentPassword"]" class="validate" required>
									<label for="CurrentPassword">Huidig wachtwoord</label>
								</div>

								<div class="input-field col s12">
									<input id="newPassword" type="password" name="newPassword" value="@Request.Form["newPassword"]" class="validate" required>
									<label for="newPassword">Nieuw wachtwoord</label>

								</div>
								<div class="input-field col s12">
									<input id="newPassword2" type="password" name="newPassword2" value="@Request.Form["newPassword2"]" class="validate" required>
									<label for="newPassword2">Bevestig wachtwoord</label>
									<a name="errormessage" class="errorText">@errormessage</a>
									<a class="succesText">@succesmessage</a>
								</div>

								<button class="btn right taximengeryellow" type="submit" name="form2" value="true">Bevestig</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col s3">
		<!-- Chauffeur aanmaken -->
					<div class="row">
						<div class="col s12">
							<div class="card-panel grey darken-4">

					<div class="card-content ">
						<div class="row white-text">
							<span style="font-size: 16px;" class="card-title">Chauffeur toevoegen/verwijderen</span>
							<form class="col s12" method="post" name="form3">

								<div class="row">
									<div class="input-field col s12">
										<input name="chauffeur" type="text" value="@Chauffeur" required>
										<label for="chauffeur">Naam chauffeur</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input name="telefoonnummer" type="text" value="@Telefoonnummer" required>
										<label for="telefoonnummer">Telefoon nummer</label>
									</div>
								</div>
								<button class="btn right taximengeryellow" type="submit" name="form3" value="true">Bevestig</button>
							</form>


							<!-- Chauffeur Verwijderen -->
							<form class="col s12" method="post" name="form4">
								<div class="input-field col s12">

									<select name="chauffeurID">
										<option type="" disabled selected>Selecteer een chauffeur</option>
										@foreach (var item in Chauffeurs)
										{
											<option type="text" name="chauffeurID" class="black-text" value="@item.chauffeurID">@item.Chauffeur</option>
										}
									</select>
									<label>Chauffeur Verwijderen</label>
									<button class="btn right taximengeryellow" type="submit" name="form4" value="true">Delete</button>

								</div>
							</form>
						</div>
					   </div>
					</div>
				</div>
			</div>
		</div>


			<div class="col s3">
				<!-- Wagen aanmaken / verwijderen -->
				<div class="row">
					<div class="col s12">
						<div class="card-panel grey darken-4">
							<div class="card-content ">
								<div class="row white-text">
									<form class="col s12" method="post" name="form5">
										<button class="btn right taximengeryellow" type="submit" name="form5" value="true">Bevestig</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>