@{
    Layout = "~/Shared/_Layout.cshtml";
    var userName = WebSecurity.CurrentUserName;
    var CurrentPassword = "";
    var newPassword = "";
    var newPassword2 = "";
    var errormessage = "";
    var succesmessage = "";

    if (IsPost && Validation.IsValid())
    {
        CurrentPassword = Request.Form["CurrentPassword"];
        newPassword = Request.Form["newPassword"];
        newPassword2 = Request.Form["newPassword2"];

        if (newPassword == newPassword2)
        {
            bool gelukt;
            gelukt = WebSecurity.ChangePassword(userName, CurrentPassword, newPassword);
            if (gelukt == true){
                succesmessage = "Het wachtwoord voor " + WebSecurity.CurrentUserName + " is aangepast.";
            }
            else
            {
                errormessage = "Het oude wachtwoord is incorrect.";
            }
        }

        else
        {
            errormessage = "De wachtwoorden komen niet overeen.";
        }
    }


}

    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card-panel grey darken-4">
                <div class="card-content ">
                    <div class="row white-text">
                        <form class="col s12" method="post" name="form">
                            <span style="font-size: 16px;" class="card-title">Wachtwoord aanpassen</span>


                            <div class="input-field col s12">

                                <input id="CurrentPassword" type="password" name="CurrentPassword" value="@Request.Form["CurrentPassword"]" class="validate">
                                <label for="CurrentPassword">Huidig wachtwoord</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="newPassword" type="password" name="newPassword" value="@Request.Form["newPassword"]" class="validate">
                                <label for="newPassword">Nieuw wachtwoord</label>

                            </div>
                            <div class="input-field col s12">
                                <input id="newPassword2" type="password" name="newPassword2" value="@Request.Form["newPassword2"]" class="validate">
                                <label for="newPassword2">Bevestig wachtwoord</label>
                                <a name="errormessage" class="errorText">@errormessage</a>
                                <a class="succesText">@succesmessage</a>
                            </div>

                            <button class="btn right taximengeryellow" type="submit" name="action">Bevestig</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>