@section vasteklant
{
	@{
		var db = Database.Open("Rittenkaart");
		var RitID = "";

		var Klant = "";
		var Ophaaladres = "";
		var Bestemmingsadres = "";
		var Tijd = "";
		var Datum = "";
		var Sw = "";
		var Kenteken = "";
		var Chauffeur = "";
		var Bijzonderheden = "";

		var errorText = "";

		if (!IsPost && !Request.QueryString["id"].IsEmpty())
		{
			var ID = Request.QueryString["id"];

			RitID = Request.Form["id"];
			Klant = Request.Form["Klant"];
			Ophaaladres = Request.Form["Ophaaladres"];
			Bestemmingsadres = Request.Form["Bestemmingsadres"];
			Tijd = Request.Form["Tijd"];
			Datum = Request.Form["Datum"];
			Sw = Request.Form["Sw"];
			Kenteken = Request.Form["Kenteken"];
			Chauffeur = Request.Form["Chauffeur"];
			Bijzonderheden = Request.Form["Bijzonderheden"];
			try
			{
				Bijzonderheden = db.QueryValue("SELECT Bijzonderheden FROM Rittenkaart WHERE RitID = @0", ID);
			}

			catch
			{
				Bijzonderheden = "";
			}

		}

		else if (!IsPost && Request.QueryString["ID"].IsEmpty())
		{
			RitID = Convert.ToString(db.QueryValue("SELECT Max(RitID) from klantgegevens") + 1);
		}

		var query = "INSERT INTO Rittenkaart (RitID,Klant,Ophaaladres,Bestemmingsadres,Tijd,Datum,Sw,Kenteken,Chauffeur,Bijzonderheden) VALUES (@0,@1,@2,@3,@4,@5,@6,@7,@8,@9)";
		db.Execute(query, RitID, Klant, Ophaaladres, Bestemmingsadres, Tijd, Datum, Sw, Kenteken, Chauffeur,Bijzonderheden);

		Response.Redirect("~/Application/home.cshtml");
	}

		<div class="row">
			<div class="col s12 m6 l3">
				<div class="card-panel grey darken-4">

					<div class="card-content ">
						<div class="row white-text">
							<span style="font-size: 16px;" class="card-title">Klant toevoegen</span>
							<form class="col s12" method="post">

								<div class="row">
									<div class="white-text input-field col s2">
										<input name="ritid" type=text value="@RitID" disabled>
										<label for="ritid"></label>
									</div>
									<div class="input-field col s5">
										<input name="klant" type="text" value="@Klant" required>
										<label for="klant">Naam klant</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s8">
										<input name="ophaaladres" type="text" value="@Ophaaladres" required>
										<label for="ophaaladres">Ophaaladres</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s8">
										<input name="bestemmingsadres" type="text" value="@Bestemmingsadres" required>
										<label for="bestemmingsadres">Bestemmingsadres</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s4">
										<input name="tijd" type="text" value="@Tijd" required>
										<label for="tijd">Tijd</label>
									</div>
									<div class="input-field col s4">
										<input name="datum" type="text" value="@Datum" required>
										<label for="datum">Datum</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s4">
										<input name="sw" type="text" value="@Sw" required>
										<label for="sw">Speciale wagen</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s4">
										<input name="kenteken" type="text" value="@Kenteken" required>
										<label for="kenteken">Kenteken</label>
									</div>
									<div class="input-field col s4">
										<input name="chauffeur" type="tel" value="@Chauffeur" required>
										<label for="chauffeur">Chauffeur</label>
									</div>
								</div>

								<div class="row">
									<div class="input-field col s12">
										<input name="bijzonderheden" type="text" value="@Bijzonderheden">
										<label for="bijzonderheden">Bijzonderheden</label>
									</div>
								</div>
								<button class="btn right taximengeryellow" runat="server" type="submit" name="action" id="form">Bevestig</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
