@{
    Layout = "~/Shared/_Layoutadmin.cshtml";
    var db = Database.Open("Membership");
    var Users = db.Query("SELECT email FROM UserProfile");


    string[] array = new string[1] { "administrator" };
    WebSecurity.RequireRoles(array);

    var username = "";
    var password = "";
    var confirmPassword = "";
    var errorMessage = "";
    var succesmessage = "";

    var errorMessage2 = "";
    var resetToken = "";
    var succesmessage2 = "";

    if (IsPost)
    {
        if (Request.Form["form1"] == "true")
        {
            username = Request["username"];
            password = Request["password"];
            confirmPassword = Request["confirmPassword"];

            if (!(username == null) && !(password == null) && !(confirmPassword == null))
            {
                if (password != confirmPassword)
                {
                    errorMessage = "Wachtwoorden komen niet overeen.";
                }

                else
                {
                    if (WebSecurity.UserExists(username))
                    {
                        errorMessage = String.Format("De gebruiker '{0}' bestaat al.", username);
                    }

                    else
                    {
                        WebSecurity.CreateUserAndAccount(username, password, null, false);
                        succesmessage = String.Format("{0} aangemaakt.", username);
                    }
                }
            }
        }

        else if (Request.Form["form2"] == "true")
        {
            username = Request["username2"];
            password = Request["password2"];
            confirmPassword = Request["confirmPassword2"];

            if (!(username == null) && !(password == null) && !(confirmPassword == null) && !(username == "") && !(password == "") && !(confirmPassword == ""))
            {
                if (password != confirmPassword)
                {
                    errorMessage2 = "Wachtwoorden komen niet overeen.";
                }

                else
                {
                    resetToken = WebSecurity.GeneratePasswordResetToken(username, 5);
                    WebSecurity.ResetPassword(resetToken, password);
                    succesmessage2 = String.Format("Wachtwoord aangepast voor: " + username);
                }
            }
        }
    }
}


    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card-panel grey darken-4">
                <div class="card-content ">
                    <div class="row white-text">
                        <form class="col s12" method="post">
                            <span style="font-size: 16px;" class="card-title">Gebruiker aanmaken</span>
                            <p>
                                @if (errorMessage != "")
                                {
                                    <span class="errorMessage">@Html.Raw(errorMessage)</span>
                                }
                            </p>

                            <div class="input-field col s12">
                                <input type="text" name="username" value="@Request.Form["username"]">
                                <label for="username">Gebruikersnaam</label>
                            </div>

                            <div class="input-field col s12">
                                <input type="password" name="password" value="@Request.Form["password"]">
                                <label for="password">Wachtwoord</label>
                            </div>

                            <div class="input-field col s12">
                                <input type="password" name="confirmPassword" value="@Request.Form["confirmPassword"]">
                                <label for="confirmPassword">Bevestig Wachtwoord</label>
                                <a class="succesText">@succesmessage</a>
                            </div>
                            <button class="btn right taximengeryellow" type="submit" name="form1" value="true">Bevestig</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l3">
            <div class="card-panel grey darken-4">
                <div class="card-content ">
                    <div class="row white-text">
                        <form class="col s12" method="post">
                            <span style="font-size: 16px;" class="card-title">Wachtwoord aanpassen</span>
                            <p>
                                @if (errorMessage2 != "")
                                {
                                    <span class="errorMessage">@Html.Raw(errorMessage2)</span>
                                }
                            </p>

                            <div class="input-field col s12">
                                <select name="username2">
                                    <option class="disabled" selected>Selecteer een gebruiker</option>
                                    @foreach (var user in Users)
                                    {
                                        <option type="text" class="black-text" value="@user.email">@user.email</option>
                                    }
                                </select>
                                <label for="username2">Gebruiker</label>
                            </div>

                            <div class="input-field col s12">
                                <input type="password" name="password2" value="@Request.Form["password2"]">
                                <label for="password2">Wachtwoord</label>
                            </div>

                            <div class="input-field col s12">
                                <input type="password" name="confirmPassword2" value="@Request.Form["confirmPassword2"]">
                                <label for="confirmPassword2">Bevestig Wachtwoord</label>
                                <a class="succesText">@succesmessage2</a>
                            </div>

                            <button class="btn right taximengeryellow" type="submit" name="form2" value="true">Bevestig</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>