@{
    Layout = "~/Shared/_Layoutadmin.cshtml";
    Database db = Database.Open("Membership");
    Database db2 = Database.Open("Klantgegevens");
    var Users = db.Query("SELECT email FROM UserProfile");

    string[] array = new string[1] { "administrator" };
    WebSecurity.RequireRoles(array);

    var username = "";
    var password = "";
    var confirmPassword = "";
    var errorMessage = "";
    var succesmessage = "";

    var errorMessage2 = "";
    var resetToken = "";
    var succesmessage2 = "";

    var kenteken = "";
    var SW = "";
    var zitplaatsen = "";
    var wagenID = "";
    var wagens = db2.Query("SELECT WagenID,Kenteken FROM wagen");


    <!-- Chauffeur Aanmaken -->
    var Chauffeur = "";
    var Telefoonnummer = "";

    <!-- Chauffeur Verwijderen-->
    var chauffeurID = "";
    var Chauffeurs = db2.Query("SELECT ChauffeurID,Chauffeur FROM Chauffeur");

    if (IsPost)
    {
        if (Request.Form["form1"] == "true")
        {
            username = Request["username"];
            password = Request["password"];
            confirmPassword = Request["confirmPassword"];

            if (!(username == null) && !(password == null) && !(confirmPassword == null))
            {
                if (password != confirmPassword)
                {
                    errorMessage = "Wachtwoorden komen niet overeen.";
                }

                else
                {
                    if (WebSecurity.UserExists(username))
                    {
                        errorMessage = String.Format("De gebruiker '{0}' bestaat al.", username);
                    }

                    else
                    {
                        WebSecurity.CreateUserAndAccount(username, password, null, false);
                        succesmessage = String.Format("{0} aangemaakt.", username);
                    }
                }
            }
        }

        else if (Request.Form["form2"] == "true")
        {
            username = Request["username2"];
            password = Request["password2"];
            confirmPassword = Request["confirmPassword2"];

            if (!(username == null) && !(password == null) && !(confirmPassword == null) && !(username == "") && !(password == "") && !(confirmPassword == ""))
            {
                if (password != confirmPassword)
                {
                    errorMessage2 = "Wachtwoorden komen niet overeen.";
                }

                else
                {
                    resetToken = WebSecurity.GeneratePasswordResetToken(username, 5);
                    WebSecurity.ResetPassword(resetToken, password);
                    succesmessage2 = String.Format("Wachtwoord aangepast voor: " + username);
                }
            }
        }

        else if (Request.Form["form3"] == "true")
        {
            Chauffeur = Request.Form["Chauffeur"];
            Telefoonnummer = Request.Form["Telefoonnummer"];

            var query1 = "INSERT INTO Chauffeur (Chauffeur,Telefoonnummer) VALUES (@0,@1)";
            db2.Execute(query1, Chauffeur, Telefoonnummer);

            Response.Redirect("~/Application/settings.cshtml");
        }

        else if (Request.Form["form4"] == "true")
        {
            {
                chauffeurID = Request.Form["chauffeurID"];

                var query = "DELETE FROM Chauffeur WHERE ChauffeurID = @0";
                db2.Execute(query, chauffeurID);

                Response.Redirect("~/Application/settings.cshtml");
            }
        }

        else if (Request.Form["form5"] == "true")
        {
            kenteken = Request.Form["Kenteken"];
            SW = Request.Form["SW"];
            zitplaatsen = Request.Form["Zitplaatsen"];

            var query = "INSERT INTO Wagen (Kenteken,SW,Zitplaatsen) VALUES (@0,@1,@2)";
            db2.Execute(query, kenteken, SW, zitplaatsen);

            Response.Redirect("~/Application/settings.cshtml");
        }

        else if (Request.Form["form6"] == "true")
        {
            wagenID = Request.Form["wagenID"];

            var query = "DELETE FROM Wagen WHERE WagenID = @0";
            db2.Execute(query, wagenID);

            Response.Redirect("~/Application/settings.cshtml");
        }
    }
}


<div class="row">
    <div class="col s12 m6 l3">
        <div class="card-panel grey darken-4">
            <div class="card-content ">
                <div class="row white-text">
                    <form class="col s12" method="post">
                        <span style="font-size: 16px;" class="card-title">Gebruiker aanmaken</span>
                        <p>
                            @if (errorMessage != "")
                            {
                                <span class="errorMessage">@Html.Raw(errorMessage)</span>
                            }
                        </p>

                        <div class="input-field col s12">
                            <input type="text" name="username" value="@Request.Form["username"]">
                            <label for="username">Gebruikersnaam</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="password" name="password" value="@Request.Form["password"]">
                            <label for="password">Wachtwoord</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="password" name="confirmPassword" value="@Request.Form["confirmPassword"]">
                            <label for="confirmPassword">Bevestig Wachtwoord</label>
                            <a class="succesText">@succesmessage</a>
                        </div>
                        <button class="btn right taximengeryellow" type="submit" name="form1" value="true">Aanmaken</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-panel grey darken-4">
            <div class="card-content ">
                <div class="row white-text">
                    <form class="col s12" method="post">
                        <span style="font-size: 16px;" class="card-title">Wachtwoord aanpassen</span>
                        <p>
                            @if (errorMessage2 != "")
                            {
                                <span class="errorMessage">@Html.Raw(errorMessage2)</span>
                            }
                        </p>

                        <div class="input-field col s12">
                            <select name="username2">
                                <option class="disabled" selected>Selecteer een gebruiker</option>
                                @foreach (var user in Users)
                                {
                                    <option type="text" class="black-text" value="@user.email">@user.email</option>
                                }
                            </select>
                        </div>

                        <div class="input-field col s12">
                            <input type="password" name="password2" value="@Request.Form["password2"]">
                            <label for="password2">Wachtwoord</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="password" name="confirmPassword2" value="@Request.Form["confirmPassword2"]">
                            <label for="confirmPassword2">Bevestig Wachtwoord</label>
                            <a class="succesText">@succesmessage2</a>
                        </div>

                        <button class="btn right taximengeryellow" type="submit" name="form2" value="true">Wijzigen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="row">
            <div class="col s12">
                <div class="card-panel grey darken-4">
                    <div class="card-content ">
                        <div class="row white-text">
                            <span style="font-size: 16px;" class="card-title">Chauffeur toevoegen/verwijderen</span>
                            <!-- Chauffeur aanmaken -->
                            <form class="col s12" method="post" name="form3">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="chauffeur" type="text" value="@Chauffeur" required>
                                        <label for="chauffeur">Naam chauffeur</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="telefoonnummer" type="text" value="@Telefoonnummer" required>
                                        <label for="telefoonnummer">Telefoon nummer</label>
                                    </div>
                                </div>
                                <button class="btn right taximengeryellow" type="submit" name="form3" value="true">Aanmaken</button>
                            </form>

                            <!-- Chauffeur Verwijderen -->
                            <form class="col s12" method="post" name="form4">
                                <div class="input-field col s12">

                                    <select name="chauffeurID">
                                        <option type="" disabled selected>Selecteer een chauffeur</option>
                                        @foreach (var item in Chauffeurs)
                                        {
                                            <option type="text" name="chauffeurID" class="black-text" value="@item.chauffeurID">@item.Chauffeur</option>
                                        }
                                    </select>
                                    <button class="btn right taximengeryellow" type="submit" name="form4" value="true">Verwijderen</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="col s12">
            <div class="card-panel grey darken-4">
                <div class="card-content ">
                    <div class="row white-text">
                        <!-- Wagen aanmaken-->
                        <form class="col s12" method="post" name="form5">
                            <span style="font-size: 16px;" class="card-title">Wagen toevoegen/verwijderen</span>

                            <div class="input-field col s12">
                                <input name="Kenteken" type="text" value="@kenteken" class="validate" required>
                                <label for="Kenteken">Kenteken</label>
                            </div>
                            <!--Radiobuttons-->
                            <div class="input-field col s12">
                                <select name="SW" value="@SW">
                                    <option value="@SW" class="disabled" selected>Soort wagen</option>
                                    <option type="text" name="SW" class="black-text" value="Personenwagen">Personenwagen</option>
                                    <option type="text" name="SW" class="black-text" value="Personenbus">Personenbus</option>
                                    <option type="text" name="SW" class="black-text" value="Rolstoelbus">Rolstoelbus</option>
                                </select>
                            </div>

                            <div class="input-field col s12">
                                <input name="Zitplaatsen" type="text" value="@zitplaatsen" class="validate" required>
                                <label for="zitplaatsen">Aantal zitplaatsen</label>
                            </div>
                            <button class="btn right taximengeryellow" type="submit" name="form5" value="true">Aanmaken</button>
                        </form>

                        <!-- Wagen verwijderen -->
                        <form class="col s12" method="post" name="form6">
                            <div class="input-field col s12">
                                <select name="wagenID">
                                    <option value="" disabled selected>Selecteer kenteken</option>
                                    @foreach (var wagen in wagens)
                                    {
                                        <option type="text" name="wagenID" class="black-text" value="@wagen.WagenID">@wagen.Kenteken</option>
                                    }
                                </select>
                            </div>
                            <button class="btn right taximengeryellow" type="submit" name="form6" value="true">Verwijderen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

