@using WebMatrix.WebData;
@{
    Layout = "~/Shared/_Layoutmaterialize.cshtml";
    var Username = "";
    var Password = "";
    var errorMessage = "";

    Validation.RequireField("Username", "Voer een gebruikersnaam in.");
    Validation.RequireField("Password", "Voer een wachtwoord in.");



    if (IsPost && Validation.IsValid())
    {
        Username = Request.Form["Username"];
        Password = Request.Form["Password"];

        if (WebSecurity.Login(Username, Password, true))
        {
            if(Username == "admin" || Username == "Admin")
            {
                Response.Redirect("~/Admin/registersecret");
            }
            else
            {
                Response.Redirect("~/Application/Home");
            }
        }
        else
        {
            errorMessage = "Gebruikersnaam en/of wachtwoord komen niet overeen.";
        }
    }
}

    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel grey darken-4">
                    <div class="card-content ">
                        <div class="row white-text">
                            <img class="col l6 offset-l3 m8 offset-m2 s12 center" src="img/logo.png" />
                            <form class="col s12" method="post" name="form">
                                <div class="input-field col s12">
                                    <input type="text" name="Username" value="@Request.Form["Username"]">
                                    <label for="username">Gebruikersnaam</label>
                                    <p class="errorText">@Html.ValidationMessage("Username")</p>
                                </div>
                                <div class="input-field col s12">
                                    <input type="password" name="Password" value="@Request.Form["Password"]">
                                    <label for="password">Wachtwoord</label>
                                    <p class="errorText">@Html.ValidationMessage("Password")</p>
                                    <p class="errorText">@errorMessage</p>
                                </div>
                                <button style="position:relative; margin-bottom: -50px;" class="btn waves-effect waves-light right taximengeryellow" type="submit" name="action">login<i class="material-icons right">send</i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>