@using WebMatrix.WebData;
@{
    var Username = "";
    var Password = "";
    var errorMessage = "";

    Validation.RequireField("Username", "Voer een gebruikersnaam in.");
    Validation.RequireField("Password", "Voer een wachtwoord in.");

    if (IsPost && Validation.IsValid())
    {
        Username = Request.Form["Username"];
        Password = Request.Form["Password"];

        if (WebSecurity.Login(Username, Password, true))
        {
            Response.Redirect("~/Application/Home");
        }
        else
        {
            errorMessage = "Gebruikersnaam en/of wachtwoord komen niet overeen.";
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel grey darken-4">
                    <div class="card-content ">
                        <div class="row white-text">
                            <img class="col l6 offset-l3 m8 offset-m2 s12 center" src="img/logo.png" />
                            <form class="col s12" method="post" name="form">
                                <div class="input-field col s12">
                                    <input type="text" name="Username" value="@Request.Form["Username"]">
                                    <label for="username">Gebruikersnaam</label>
                                    <p class="errorText">@Html.ValidationMessage("Username")</p>
                                </div>
                                <div class="input-field col s12">
                                    <input type="password" name="Password" value="@Request.Form["Password"]">
                                    <label for="password">Wachtwoord</label>
                                    <p class="errorText">@Html.ValidationMessage("Password")</p>
                                    <p class="errorText">@errorMessage</p>
                                </div>
                                <button style="position:relative; margin-bottom: -50px;" class="btn waves-effect waves-light right taximengeryellow" type="submit" name="action">login<i class="material-icons right">send</i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>